.form {
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	column-gap: 15px;
	row-gap: 20px;

	& .label {
		display: flex;
		flex-direction: column;
		row-gap: 10px;

		& span {
			line-height: 100%;
			color: #b1b1b1;
		}

		& input,
		& select,
		& textarea {
			height: 56px;
			border-radius: 10px;
			background: #272727;
			border: 1px solid #431f0e;
			padding: 15px;

			&:focus {
				outline-color: var(--color-primary);
			}
		}

		& input[type='file'] {
			padding-left: 56px;
		}

		& textarea {
			height: 134px;
		}

		& .uploaeded {
			position: relative;
			width: fit-content;
			border-radius: 6px;
			padding: 1px;
			background: linear-gradient(360deg, #ff5931 0%, #171717 100%);

			& button {
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background: rgb(255, 255, 255, 0.5);
				display: grid;
				place-content: center;
				position: absolute;
				top: 5px;
				right: 5px;
				z-index: 1;
			}
		}
	}

	& .send_button {
		height: 56px;
		background: var(--color-primary);
		color: var(--color-white);
		font-size: 18px;
		border-radius: 10px;
	}
}

@media screen and (min-width: 1024px) {
	.form {
		grid-template-columns: repeat(2, 1fr);
	}
}
