.nav {
	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		column-gap: 24px;
		row-gap: 28px;

		&--item {
			&-link {
				transition: color 0.3s;

				&:hover {
					color: #ff5931;
				}
			}

			& .active {
				color: #ff5931;
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.nav {
		&__list {
			column-gap: 42px;
		}
	}
}
